---
import Layout from '../layouts/Layout.astro'

const date = new Date()

const color = 'red'
---

<Layout title="Home page">
  <h1>Main page</h1>

  <span style={{ color }}>{date.toDateString()}</span>

  <a href="/abour">About page</a>
</Layout>